
<section class="container"  style="background-color:lavenderblush">
    <a routerLink="/home" style="color: black;">>>Go Back</a>
    <h2 style="margin-left: 300px; color: chocolate;">Explore the Tasets of Morocan!</h2>
    <br>
<h3 styel="margin-top:50px; ">The ultimate Morocan chicken</h3>
<br>
<iframe width="500" height="350" src="https://www.youtube.com/embed/42S-X4ryELM" frameborder="0" allowfullscreen ></iframe>
<br>
<br>
<h2 >Moroccan Couscous Recipe step by step</h2>
<br>
<iframe width="500" height="350" src="https://www.youtube.com/embed/ddN03i1h6T8" frameborder="0" allowfullscreen ></iframe>
<br>
<br>
<h2>Morocaan Pan Cake</h2>
<br>
<iframe width="500" height="350" src="https://www.youtube.com/embed/RE1cJcFgqcs" frameborder="0" allowfullscreen ></iframe>
<br>
<br>
<h2>Dinner recipe in 20mins-Moraccan Cusine</h2>
<br>
<iframe width="500" height="350" src="https://www.youtube.com/embed/-mIP-1o99tc" frameborder="0" allowfullscreen ></iframe>

</section>