<nav class="navbar  fixed-top  bg-dark">      
    <a class="navbar-brand" href="#">
        <img class="logo" src="https://i.pinimg.com/474x/50/3e/41/503e4105f6b488a056591bc8f0d473bc.jpg" height="70px" width="80px">
    </a>   
    <h2 class="display1" style="color: #f7902f; margin-left: 40px; text-shadow: 2px  2px black; font-family: 'Lobster', cursive;">The Glutton Jurnol</h2>             
    <ul class="nav justify-content-end">
      <li class="nav-item">
       <i class="bi bi-house-fill"></i>
       <a class="nav-link" routerLink="/home">Home</a>
      </li>
     <li class="nav-item">
        <i class="bi bi-cash-stack"></i>
        <a class="nav-link" routerLink="/blog">Blog</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/aboutus">About Us</a>
    </li>
    <li class="nav-item">
    <a class="nav-link " routerLink="/contact">Contact</a>
    </li>
    </ul>
    </nav>
<section class="container" style="background-color: wheat; margin-top: 100px;">
    
    <h2 style="margin-left: 400px; color:brown;" *ngIf="chidetail.title">{{chidetail.title}}</h2>
    <h3><strong>Follow these simple instructions:</strong></h3>
    <br>
    Step-1:
    <p>{{chidetail.step1}}</p>
    <hr>
    Step-2:
    <p>{{chidetail.step2}}</p>
    <hr>
    Step-3:
    <p>{{chidetail.step3}}</p>
    <hr>
    Step-4:
    <p>{{chidetail.step4}}</p>
    <img src="{{chidetail.url}}" height="400px" width="500px">
    

</section>