
  
   <section class="container" style="background-color: wheat; margin-top: 100px;" >
    <a routerLink="/indian">>>Go back</a>   
    <h2 style="margin-left: 400px; color:brown;">{{idetail.title}}</h2>
    <h3><strong>Follow these simple instructions:</strong></h3>
    <br>
    Step-1:
    <p>{{idetail.step1}}</p>
    <hr>
    Step-2:
    <p>{{idetail.step2}}</p>
    <hr>
    Step-3:
    <p>{{idetail.step3}}</p>
    <hr>
    Step-4:
    <p>{{idetail.step4}}</p>
    <img src="{{idetail.url}}" height="400px" width="500px">
    

</section>
