
<section class="container"  style="background-color:lavenderblush">
    <a routerLink="/home">>>Go Back</a>
    <h2 style="margin-left: 300px; color: chocolate;">Explore the Tastes of Turkish!</h2>
    <br>
<h3 styel="margin-top:50px; ">Turkish bread: the most delicious and easy bread you will ever make!</h3>
<br>
<iframe width="500" height="350" src="https://www.youtube.com/embed/o9o81fJn3FQ" frameborder="0" allowfullscreen ></iframe>
<br>
<br>
<h2 >Turkish adana Kebab recipe </h2>
<br>
<iframe width="500" height="350" src="https://www.youtube.com/embed/Wj7sXu9B_ME" frameborder="0" allowfullscreen ></iframe>
<br>
<br>
<h2>Authentic Turkish delight recipe : lokum recipe</h2>
<br>
<iframe width="500" height="350" src="https://www.youtube.com/embed/JjJIo1edtWA" frameborder="0" allowfullscreen ></iframe>
<br>
<br>


</section>
