
  
   <section class="container" style="background-color: wheat; margin-top: 100px;" >
    <a routerLink="/mexican">>>Go back</a>   
    <h2 style="margin-left: 400px; color:brown;">{{mexidetail.title}}</h2>
    <h3><strong>Follow these simple instructions:</strong></h3>
    <br>
    Step-1:
    <p>{{mexidetail.step1}}</p>
    <hr>
    Step-2:
    <p>{{mexidetail.step2}}</p>
    <hr>
    Step-3:
    <p>{{mexidetail.step3}}</p>
    <hr>
    Step-4:
    <p>{{mexidetail.step4}}</p>
    <img src="{{mexidetail.url}}" height="400px" width="500px">    

</section>
