<section class="container" style="margin-top: 120px;">       
    <p>Just follow these steps and you are done:</p>
    <form novalidate (ngSubmit)="onSave(regForm)" #regForm="ngForm">
    <input type="url" id="url" name="url" class="form-control" [(ngModel)]="detail.url" ngModel>
    <h3>Step1:</h3>
    <br>

    <textarea type="text" id="step1" name="step1" rows="3" class="form-control"  [(ngModel)]="detail.step1" required ngModel></textarea> 
    <br>
    <h3>Step2:</h3>
    <br>

    <textarea type="text" id="step2" name="step2" rows="3" class="form-control"  [(ngModel)]="detail.step2" required ngModel></textarea>
    <br>
   
    <h3>Step3:</h3>
    <br>
       

    <textarea type="text" id="step3" name="step3" rows="3" class="form-control"  [(ngModel)]="detail.step3" required ngModel></textarea>
    <br>
    <h3>Step4:</h3>
    <br>

    <textarea type="text" id="step4" name="step4" rows="4" class="form-control"  [(ngModel)]="detail.step4" required ngModel></textarea>
    <br>
    <button name="save" type="submit"  color="primary" [disabled]="!regForm.valid" class="btn btn-success">
        Save
    </button>
</form>
</section>
