<style>
  .intro{
      height:300px;
      width: 1500px;       
      background-attachment : fixed;
      background-repeat: no-repeat;       
      
  }
  a{
    font-size: 20px;
  }
</style>
<!--jumbotron-->
<section class="intro">
<div class="jumbotron jumbotron-fluid ">
  <div class="container">
    <h1 class="display-4"></h1> 
    <br>    
    <p class="display-4" style="margin-top: 8px;">A recipe has no soul.</p>
    <p class="lead"><strong>You, as the cook must bring soul to it!</strong></p>
    <button  class ="btn btn-outline-dark "routerLink="/create">create</button>
  </div>
</div>     
</section>
<!--jumbotron end-->
<section class="container" style="margin-top: 50px;">
<!--nav-->

  <!--nav end-->
  <!--recipebook-->
 <table >
     <tr>
         <td class="col-sm-3">
          <div  >               
              <div class="card-body">
                <iframe width="300" height="250" src="https://www.youtube.com/embed/njJ8FQXZmcE" frameborder="0" allowfullscreen ></iframe> 
              <div style="background-color:darkcyan; height: 30px; width:300px" >
                <h5 style="margin-left:85px;">Tiffin Box</h5>
              </div>
                <h5  style="margin:10px 10px 10px 10px">chicken Nuggets</h5>                  
                <p  style="font-size: 18px;">Why wait ?Go and try this now in the easiest way possible
                </p>
                
                <p style="margin-top:5px;" muted>48min. Easy</p>           
                
              </div>               
            </div>
         </td >
         <td class="col-sm-3">
          <div>               
              <div class="card-body">
                <iframe width="300" height="250" src="https://www.youtube.com/embed/Zw5wVr1eyug" frameborder="0" allowfullscreen ></iframe> 
              <div style="background-color:darkcyan; height: 30px; width:300px" >
                <h5 style="margin-left:100px;   ">Tasty vlogs </h5>
              </div>
                <h5  style="margin:10px 10px 10px 10px">Paella: The Ultimate  Pot Rice</h5>                  
                <p  style="font-size: 18px;"> If love seaFood you mus try this!</p> 
                            
                <p style="margin-top:5px;" class="lead" >55min. Easy</p>        
                
              </div>               
            </div>
         </td>
         <td class="col-sm-3">
          <div>               
              <div class="card-body">
                <iframe width="300" height="250" src="https://www.youtube.com/embed/ASUhxBq8RjY" frameborder="0" allowfullscreen ></iframe> 
              <div style="background-color:darkcyan;height: 30px; width:300px" >
                <h5 style="margin-left:80px;   ">Hot chocolate hits</h5>
              </div>
                <h5  style="margin:10px 10px 10px 10px">Peanut butter chocolate eggs</h5>                  
                <p style="font-size: 18px;"> Creamier, Tastier Scrambled Eggs, Just Add Peanut Butter
                </p>
                
                <p style="margin-left:8px;" class="lead" >30min. Easy</p>           
                
              </div>               
            </div>
         </td>
     </tr>
     <tr>
      <td class="col-sm-3">
       <div  >               
           <div class="card-body">
            <iframe width="300" height="250" src="https://www.youtube.com/embed/MjVgIXccYXA" frameborder="0" allowfullscreen ></iframe> 
           <div style="background-color:darkcyan; height: 30px; width:300px" >
             <h5 style="margin-left:90px;   ">Catie blogs</h5>
           </div>
             <h5  style="margin:10px 10px 10px 10px">Macarons</h5>                  
             <p style="font-size: 18px;">The Most Fool-Proof Macarons You'll Ever Make
             </p>
             
             <p style="margin-left:8px;" class="lead" >48min. easy</p>           
             
           </div>               
         </div>
      </td >
      <td class="col-sm-3">
       <div>               
           <div class="card-body">
               <img src="https://iamafoodblog.b-cdn.net/wp-content/uploads/2014/02/mug-cake-6067.jpg" height="230px" width="300px">
           <div style="background-color:darkcyan; height: 30px; width:300px" >
             <h5 style="margin-left:100px;   ">Abhiruchi</h5>
           </div>
             <h5  style="margin:10px 10px 10px 10px">Chocloate Mug cake</h5>                  
             <p  style="font-size: 18px;">Love for chocolates is never ending
             </p>           
             <p style="margin-left:8px;" class="lead" >30min. Easy</p>    
             
           </div>               
         </div>
      </td>
      <td class="col-sm-3">
       <div>               
           <div class="card-body">             
            <iframe width="300" height="250" src="https://www.youtube.com/embed/H0Zwb0BPjOY" frameborder="0" allowfullscreen ></iframe>                
           <div style="background-color:darkcyan; height: 30px; width:300px" >
             <h5 style="margin-left:100px;   ">
              Spice N' Pans</h5>
           </div>
             <h5  style="margin:10px 10px 10px 10px">Cheung Fun Rice Noodle Rolls</h5>                  
             <p  style="font-size: 18px;">Why wait ?Go and try this now in the easiest way possible
             </p>
            
             <p style="margin-left:8px;" class="lead">48min. easy</p>           
             
           </div>               
         </div>
      </td>
  </tr>
 </table>
 <!--recipebook end-->
 <!--videos-->ct 
 <table >
  <tr>
      <td class="col-sm-3">
       <div  >               
           <div class="card-body">
              <iframe width="300px" height="250px" src="https://www.youtube.com/embed/QP8d0qxunXQ" frameborder="0" allowfullscreen></iframe>
           <div style="background-color: wheat; height: 30px; width:300px" >
             <h5 style="margin-left:50px;">HomeCooking show</h5>
           </div>
             <h5  style="margin:10px 10px 10px 10px">chicken Biryani</h5>                  
             <p> this aromatic combination of rice and gravy!
             </p>
           
             <p style="margin-left:8px;">60min. Medium</p>         
             
           </div>               
         </div>
      </td >
      <td class="col-sm-3">
       <div>               
           <div class="card-body">
            <iframe width="300" height="250" src="https://www.youtube.com/embed/00Sgta1XFf8" frameborder="0" allowfullscreen ></iframe>
           <div style="background-color: wheat; height: 30px; width:300px" >
             <h5 style="margin-left:70px;">Hyderabadhi</h5>
           </div>
             <h5  style="margin:10px 10px 10px 10px">Chicken ghee roast</h5>                  
             <p>Why wait ?Go and try this now in the easiest way possible
             </p>
             <p style="margin-left:8px;">58min. easy</p>           
             
           </div>               
         </div>
      </td>
      <td class="col-sm-3">
       <div>               
           <div class="card-body">
            <iframe width="300" height="250" src="https://www.youtube.com/embed/D-q5bZ2ESwg" frameborder="0" allowfullscreen ></iframe>                 
           <div style="background-color: wheat; height: 30px; width:300px" >
             <h5 style="margin-left:100px;">FOOD COUTURE </h5>
           </div>
             <h5  style="margin:10px 10px 10px 10px">Veg Franike</h5>                  
             <p>Have a Best snack time with Franike!
             </p>
             <p style="margin-left:8px;">48min. easy</p>           
             
           </div>               
         </div>
      </td>
  </tr>
  <tr>
   <td class="col-sm-3">
    <div  >               
        <div class="card-body">
          <iframe width="300" height="250" src="https://www.youtube.com/embed/Lw7EixBGu60" frameborder="0" allowfullscreen ></iframe>           
        <div style="background-color: wheat; height: 30px; width:300px" >
          <h5 style="margin-left:100px;   ">
            Recipe30
            </h5>
        </div>
          <h5  style="margin:10px 10px 10px 10px">chicken  Francaise</h5>                  
          <p>Cook this tasty recipe in 30mins!
          </p>
          <p style="margin-left:8px;">30min. Easy</p>           
          
        </div>               
      </div>
   </td >
   <td class="col-sm-3">
    <div>               
        <div class="card-body">
          <iframe width="300" height="250" src="https://www.youtube.com/embed/cvaibAcAFvE" frameborder="0" allowfullscreen ></iframe>           
        <div style="background-color: wheat; height: 30px; width:300px" >
          <h5 style="margin-left:100px;   "> Cafe Delites</h5>
        </div>
          <h5  style="margin:10px 10px 10px 10px">Garlic Mushrooms</h5>                  
          <p>This combination never fails!
          </p>
          <p style="margin-left:8px;">48min. Easy</p>           
          
        </div>               
      </div>
   </td>
   <td class="col-sm-3">
    <div>               
        <div class="card-body">
          <iframe width="300" height="250" src="https://www.youtube.com/embed/91mavmnPnX8" frameborder="0" allowfullscreen ></iframe>           
        <div style="background-color:wheat; height: 30px; width:300px" >
          <h5 style="margin-left:50px;   ">HomeCookingShow
          </h5>
        </div>
          <h5  style="margin:10px 10px 10px 10px">Cheung Fun Rice Noodle Rolls</h5>                  
          <p>we are back with one more recipe!
          </p>
          <p style="margin-left:8px;">48min. Easy</p>           
          
        </div>               
      </div>
   </td>
</tr>
</table>  
<!--videos end-->  
</section>
